body {
    font-family: Arial, Helvetica, sans-serif;
  }
  *{
    box-sizing: border-box;
  }
  .row {
    display: flex;
  }
  .left {
    flex: 35%;
    padding: 15px 0;
  }
  
  .left h2 {
    padding-left: 8px;
    left: -20px;
  }
  .right {
    flex: 65%;
    padding: 15px;
  }
  #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #84ccc6;
  }
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }
  #myMenu li a:hover {
    background-color: #eee;
  }