body{
    position: relative;
    top: 250px;
    left: 30%;
    border: 5px solid rgb(77, 75, 75);
    width: 40%;
    }
    .div{
    height: 50px;
    width: 400px;
    position: relative;
    left: 10%;
    }
    button{
    position: relative;
    left: 30%;
    top: -12px;
    }