.header{
    text-align: center;
background-color: lightskyblue;
width: 1450px;
color: navy;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 25%;
    height: 50px;
    background-color:  palevioletred;
    position: fixed;
    height: 100%;
    overflow: auto;  
  }
  li a {
    display: block;
    color: #000;
    padding: 9px 16px;
    text-decoration: none;
  }
  li a.active {
    background-color:#3b7e23;
    color:white;
  }
  li a:hover:not(.active) {
    background-color: #555;
    color: white; 
  }
  .apple{
    position: relative;
    left: 620px;
    height: 80px;
    bottom: 180px;
  }
body{
  overflow-y: hidden;
}