body {font-family: Arial, Helvetica, sans-serif;}
form {border: 4px solid #090909;}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #3113b8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #ed1808;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
width:70px;
height: 80px;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
body{
width: 30%;
position: relative;
left: 35%;
top: 50px;
background-image: url(../images/boy.jpg);
background-repeat: no-repeat;
background-size: 100%;

}