.form-container {
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  .btn btn-primary{
    position: relative;
    left: 600px;
  }
  .form-control{
    width: 300px;
    position: relative;
    
  }
  .tel{
    width: 300px;
    position: relative;
    left:600px
  }